@import '~style/helpers';

.song {
		background-position: center;
		background-size: cover;
		position: relative;
		box-shadow: 0 22px 40px 0 rgba(0, 0, 0, 0.4);
		border-radius: 4px;
		cursor: pointer;
		overflow: hidden;
		width: 15%;
		min-width: 290px;
    margin: 10px;

		@media (max-width: 1200px) {
			height: 200px;
			padding: 20px;
		}

		@media (min-width: 1200px) {
			height: 250px;
			padding: 20px;
		}

		p {
			transition: transform 0.2s ease-in-out;
			position: absolute;
			bottom: 0;
			left: 0;
			margin: 0;
			background: rgba(0, 0, 0, 0.4);
			width: 100%;
			padding: 10px;
			font-size: 0.8rem;
			text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
			text-overflow: ellipsis;
			overflow: hidden;

			& > span {
			white-space: pre;
			}
		}

	&:hover, &.playing {
		p {
		background: transparent;
		}

		.hover {
			display: flex;
		}
	}
}

.hover {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.4);
		width: 100%;
		height: 100%;
		text-align: center;
		justify-content:center;
		align-items: center;

		i {
		font-size: 2rem;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
		text-align: center;
		}
	}