@import 'helpers';

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #111;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #FFF;
	-webkit-font-smoothing: antialiased;
	padding-bottom: 28px;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
	overflow-y: scroll;
	&::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: #111;
	}

	&::-webkit-scrollbar {
		width: 12px;
		background-color: #111;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #333;
	}
}
