@import '~style/helpers';

.player {
	position: relative;
	display: flex;
    align-items: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 66px;
	padding: 0;
	background: #333;
	border-top: 1px solid @orange;
	box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.4);
	z-index: 50;
}

.artwork {
	max-height: 40px;
	width: auto;
	margin-left: 10px;
}

.details {
	display: block;
	margin-left: 10px;
    font-size: 0.8rem;

	& > span {
		display: block;
	}
}

.playerSlider {
	position: absolute;
	top:0;
	left:0;
	height: 6px;
	background: rgba(0, 0, 0, 0.3);
	width: 100%;
	transition: all 0.3s ease-in-out;
	cursor: pointer;

	&:hover {
		height: 10px;
		background: rgba(0, 0, 0, 0.6);
	}
}

.controls {
	position: absolute;
    right: 10px;

	& > span {
		margin-left: 10px;
	}
}