@import '~style/helpers';

.homepage {
	margin-top: 30px;
	padding-bottom: 60px;
	min-height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
